<% if(success_msg != ''){ %>
    <div class="success-display"> <em><%= success_msg %></em></div>
<% } %> <% if(error_msg != ''){ %>
    <div class="error-display"> <em><%= error_msg %></em></div>
<% } %> <% if(error != ''){ %>
    <div class="error-display"> <em><%= error %></em></div>
<% } %>