<% if(typeof errors != 'undefined'){ %>
    <% errors.forEach(function(error){ %>
    <div class="error-display"> <em><%= error.msg %></em></div>
    <% }); %>
<% } %>
<% if(typeof successes != 'undefined'){ %>
    <% successes.forEach(function(success){ %>
    <div class="success-display"> <em><%= success.msg %></em></div>
    <% }); %>
<% } %>