<% include ./templates/head%>
    <title>CE-Acad | Dashboard</title>
</head>

<body>
    <% include ./templates/header%>
    <div style="height: 90vh;"></div>
    <% include ./templates/footer%>
</body>