<% include ./templates/head%>
    <title>CE-Acad | Dashboard</title>
</head>

<body>
    <% include ./templates/header%>
    <div class="main-title"> 
        <h1>Welcome to your Dashboard</h1>
    </div>
    <div style="height: 90vh;"></div>
    <% include ./templates/footer%>
</body>