<% include ./templates/head%>
    <title>CE-Acad | Dashboard</title>
</head>

<body>
    <% include ./templates/header%>
    <div class="main-title"> 
        <h1>Welcome <%=user.username%></h1>
    </div>
    <div class="body-container">
        <h1 id="dashboard-title">Please Watch This Video First!!</h1>
            <iframe id="dashboard-video" src="https://www.youtube.com/embed/nbN-BLZ9PMI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h1 id="dashboard-title" style="color: red;">Special Award: </h1>
            <h1 id="dashboard-title" style="margin-top: 0;">50.000frs on the 1st of February 2020 to the one who earned the most as referrer!!!</h1>
        <hr>
        <% include ./templates/footer%>
    </div>
</body>