<% include ./templates/head%>
    <title>CE-Acad | Dashboard</title>
</head>

<body>
    <% include ./templates/header%>
    <div class="main-title"> 
        <h1>Welcome <%=user.username%></h1>
    </div>
    <div class="body-container">
        <h1 id="dashboard-title">AFTER WATCHING THE VIDEO, PLEASE GO TO THE QUIZ MENU FOR UPDATES</h1>
            <iframe id="dashboard-video" src="https://www.youtube.com/embed/xycutJvG6dg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!-- <h1 id="dashboard-title" style="color: red;">News: </h1>
            <h1 id="dashboard-title" style="margin-top: 0;">From the request of many members, the 1000 players quiz options have been removed for now and all players refunded. Please consider other quiz options and sorry for the inconveniences!!!</h1> -->
        <hr>
        <% include ./templates/footer%>
    </div>
</body>