<footer>
    <div class="grid-item-left">
        <h1>Contact Us</h1>
        <p>In case of any difficulties, use these parameters to get to us.</p>
        <p>The Live Chat is also available and is the fastest means to get to us.</p>
        <p>We are also open to receive your appraisals, critics, and recommendations for your better experience.</p>
    </div>
    <div class="grid-item-right">
        <a href="https://chat.whatsapp.com/GEQwKPEzeurGclDoRN3iKb" class="btn"><i class="fab fa-whatsapp"></i> Join Whatsapp Group</a>
        <hr style="visibility: hidden;">
        <p><i class="fas fa-phone"></i><span class="labels"> +237 676 65 39 84</span></p>
        <p><i class="fab fa-whatsapp"></i><span class="labels"> +237 676 65 39 84</span></p>
        <p><i class="far fa-envelope"></i><span class="labels"> admin@ce-acad.com</span></p>
        <img src="/img/logo-transparent.png" style="padding-top: 0.8rem;" alt="logo" height="40vh">
        <p style="padding-left: 2rem;">CE-Acad &copy<span> <%=new Date().getFullYear()%></span></p>
    </div>
</footer>
<script>
    const clickedMenu = document.getElementById(document.title.slice(10));
    if (clickedMenu){
        if (document.getElementsByClassName('clickedMenu')[0]){
            document.getElementsByClassName('clickedMenu')[0].classList.remove('clickedMenu')
        }
        clickedMenu.classList.add('clickedMenu')
    }
</script>
<script src="//code.tidio.co/l4arcy8snhwgccrpqnybgg734z1pfnxf.js" async>    
</script> 