<footer>
    <!-- <img src="/img/logo-transparent.png" alt="logo" height="40vh" width="200rem"> -->
    <p><i class="fas fa-phone"></i><span> +237 676 65 39 84</span></p>
    <p><i class="fab fa-whatsapp"></i><span> +237 676 65 39 84</span></p>
    <p><i class="far fa-envelope"></i><span> admin@ce-acad.com</span></p>
    <p>CE-Acad &copy<span> <%=new Date().getFullYear()%></span></p>
</footer>
<script>
    const clickedMenu = document.getElementById(document.title.slice(10));
    if (clickedMenu){
        if (document.getElementsByClassName('clickedMenu')[0]){
            document.getElementsByClassName('clickedMenu')[0].classList.remove('clickedMenu')
        }
        clickedMenu.classList.add('clickedMenu')
    }
</script>
<script src="//code.tidio.co/l4arcy8snhwgccrpqnybgg734z1pfnxf.js" async>    
</script> 