<header>
    <!--<i class="fas fa-cubes"></i> 
        <i class="fas fa-th"></i> 
    <i class="far fa-times-circle"></i>-->
    <input type="checkbox" id="menu">
    <label for="menu"><i class="fas fa-th menu-icon"></i></label>
    <div class="menu-container">
        <nav class="expandable">
            <hr class="expandable">
            <a href="/dashboard" class="expandable"><i class="fas fa-home"></i> Dashboard</a>
            <hr class="expandable">
            <a href="/dashboard/quiz" class="expandable"><i class="far fa-question-circle"></i> Quiz</a>
            <hr class="expandable">
            <a href="/dashboard/finance" class="expandable"><i class="fas fa-dollar-sign"></i> Finance</a>
            <hr class="expandable">
            <a href="/dashboard/profile" class="expandable"><i class="far fa-user"></i> Profile</a>
            <hr class="expandable">
            <a href="/contact-us" class="expandable"><i class="fas fa-phone"></i> Contact Us</a>
            <hr class="expandable">
            <a href="/signout" class="expandable"><i class="far fa-times-circle"></i> Sign Out</a>
            <hr class="expandable">
        </nav>
    </div>
</header>