<header>
    <!--<i class="fas fa-cubes"></i> 
        <i class="fas fa-th"></i> 
    <i class="far fa-times-circle"></i>-->
    <!-- <input type="checkbox" id="menu">
    <label for="menu"><i class="fas fa-th menu-icon"></i></label> -->
    <a href="/dashboard" id="Dashboard"><i class="fas fa-american-sign-language-interpreting"></i><br><span>Principle</span></a>
    <a href="/dashboard/quiz" id="Quiz"><i class="far fa-question-circle"></i><br><span>Quiz</span></a>
    <a href="/dashboard/finance" id="Finance"><i class="fas fa-dollar-sign"></i><br><span>Finance</span></a>
    <a href="/dashboard/profile" id="Profile"><i class="far fa-user"></i><br><span>Profile</span></a>
    <!-- <a href="/dashboard/profile" id="Results"><i class="fas fa-receipt"></i><br><span>Results</span></a> -->
    <!-- <a href="/contact-us" class="expandable"><i class="fas fa-phone"></i> Contact Us</a> -->
    <a href="/signout"><i class="fas fa-sign-out-alt"></i><br><span>Sign Out</span></a>
</header>